@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --branebridge-green: #00b368;
}

@layer base {
  :root {
    --dark: false;
    --background: #f5f7fa;
    --foreground: #1f1f1f;
    --card: #f5f7fa;
    --card-foreground: #1f1f1f;
    --popover: #f5f7fa;
    --popover-foreground: #1f1f1f;
    --primary: #00b368;
    --primary-foreground: #f5f7fa;
    --secondary: #1f1f1f;
    --secondary-foreground: #00b368;
    --muted: #f5f5f5;
    --muted-foreground: #737373;
    --accent: #00b368;
    --accent-foreground: #ffffff;
    --destructive: #d64545;
    --destructive-foreground: #f5f7fa;
    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #a1a1a1;
    --chart-1: #bfffc8;
    --chart-2: #5edb76;
    --chart-3: #00b368;
    --chart-4: #008f6a;
    --chart-5: #005a70;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
